.page-container {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  background: var(--background-color);
keep-tablet()
}
.page-container .page-main-content {
  box-sizing: border-box;
  padding-top: $header-height;
  position: relative;
keep-tablet()
keep-mobile()
}
.header-shrink .page-container .page-main-content {
  padding-top: $header-shrink-height;
keep-tablet()
keep-mobile()
}
.page-container .page-main-content .page-main-content-top {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: $header-height;
  z-index: $z-index-5;
  box-sizing: border-box;
keep-tablet()
keep-mobile()
}
.page-container .page-main-content .page-main-content-top.hide {
  transform: translateY(-105%);
}
.header-shrink .page-container .page-main-content .page-main-content-top {
  height: $header-shrink-height;
keep-tablet()
keep-mobile()
}
.page-container .page-main-content .page-main-content-middle {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: $component-spacing-value 0;
keep-tablet()
keep-mobile()
}
.page-container .page-main-content .page-main-content-middle.show-toc .toc-content-container {
  display: block;
}
.page-container .page-main-content .page-main-content-middle .toc-content-container {
  position: sticky;
  top: $header-height$component-spacing-value;
  width: 16rem;
  max-height: calc(100vh - $header-height$component-spacing-value);
  box-sizing: border-box;
  display: none;
  padding: 0.5rem 0 1rem 1rem;
  margin-left: $component-spacing-value;
  margin-bottom: $component-spacing-value;
}
.header-shrink .page-container .page-main-content .page-main-content-middle .toc-content-container {
  top: $header-shrink-height$component-spacing-value;
  max-height: calc(100vh - $header-shrink-height$component-spacing-value);
}
.page-container .page-main-content .page-main-content-middle .toc-content-container.tocTopTrans {
  top: $component-spacing-value;
  max-height: calc(100vh - $component-spacing-value);
}
.page-container .page-main-content .page-main-content-middle .main-content {
  position: relative;
  box-sizing: border-box;
  width: $main-content-width;
  max-width: $content-max-width;
  height: 100%;
keep-tablet()
keep-mobile()
}
.page-container .page-main-content .page-main-content-bottom {
  width: 100%;
}
.page-container .post-tools {
  position: fixed;
  top: $header-height$component-spacing-value;
  right: $component-spacing-value;
keep-tablet()
keep-mobile()
}
.header-shrink .page-container .post-tools {
  top: $header-shrink-height$component-spacing-value;
keep-tablet()
keep-mobile()
}
